{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
<div id="breadcrumb_bar">
  <div class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
    {% for item in breadcrumb %}
        {% if item.url %}
          <a href="{{ item.url }}">{{ item.text }}</a>
        {% else %}
          <span>{{ item.text }}</span>
        {% endif %}
    {% endfor %}
  </div>
  <div class="anchors">&nbsp;</div>
</div>
{% endif %}
