{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}

<div class="views-element-container contextual-region block block-views block-views-blocktaxonomy-term-archive-hedge-trimmers content_block content_block_range_list_1_across">
  <div class="range_list_1_across">
        
<div>

<div class="contextual-region view view-taxonomy-term view-id-taxonomy_term view-display-id-archive_hedge_trimmers js-view-dom-id-0c40dddd345d1617c126aebe7f2fc9cc99b5e1dcb201c32d111b9818e500f490">
  
    <div data-contextual-id="entity.view.edit_form:view=taxonomy_term:location=block&amp;name=taxonomy_term&amp;display_id=archive_hedge_trimmers&amp;langcode=en" class="contextual" role="form"><button class="trigger focusable" type="button" aria-pressed="false">Open Product Range configuration options</button>


<ul class="contextual-links" hidden=""><li class="entityviewedit-form"><a href="/admin/structure/views/view/taxonomy_term/edit/archive_hedge_trimmers?destination=products/hedge-trimmers">Edit view</a></li></ul>


</div>
      <div class="view-header">
      

<div data-quickedit-entity-id="taxonomy_term/8" class="contextual-region taxonomy-term vocabulary-product-type" about="/taxonomy/term/8" id="taxonomy-term-8" data-quickedit-entity-instance-id="0">
  <div class="range_logo">
    
  </div>
  <h2>EGO Power<sup>+</sup> Hedge Trimmers</h2>
</div>


    </div>
      
  
              
    
    <ul class="view-content product_list chomp ">

<li data-history-node-id="56" data-quickedit-entity-id="node/56" role="article" class="contextual-region node node--type-product node--promoted node--view-mode-teaser" about="/products/hedge-trimmers/ht6500e-65cm-hedge-trimmer" data-quickedit-entity-instance-id="0">
  <div class="product">
          <div class="image">
                  <img src="/sites/default/files/2017-04/HT6500E_Category.png">
              </div>
       <div class="details">
        <div class="code">
          HT6500E 
        </div>
        <div class="title">
          65cm Hedge Trimmer
        </div>
        <div class="description">
          Two-speed 65cm blade length, 33mm blade gap with double-sided knife-edge cutting action and rotating rear handle for comfort and control
        </div>
        <a href="/products/hedge-trimmers/ht6500e-65cm-hedge-trimmer" rel="bookmark">Find out more</a>
      </div>
      </div>
</li>

<li data-history-node-id="53" data-quickedit-entity-id="node/53" role="article" class="contextual-region node node--type-product node--promoted node--view-mode-teaser" about="/products/hedge-trimmers/ht5100e-52cm-hedge-trimmer" data-quickedit-entity-instance-id="0">
  <div class="product">
          <div class="image">
                  <img src="/sites/default/files/2017-04/HT5100E_Category.png">
              </div>
       <div class="details">
        <div class="code">
          HT5100E 
        </div>
        <div class="title">
          52cm Hedge Trimmer
        </div>
        <div class="description">
          Two-speed 51cm blade length, 33mm blade gap with double-sided knife-edge cutting action and rotating rear handle for comfort and control
        </div>
        <a href="/products/hedge-trimmers/ht5100e-52cm-hedge-trimmer" rel="bookmark">Find out more</a>
      </div>
      </div>
</li>

<li data-history-node-id="49" data-quickedit-entity-id="node/49" role="article" class="contextual-region node node--type-product node--promoted node--view-mode-teaser" about="/products/hedge-trimmers/ht2400e-61cm-hedge-trimmer" data-quickedit-entity-instance-id="0">
  <div class="product">
          <div class="image">
                  <img src="/sites/default/files/2017-04/HT2400E_Category.png">
            </div>
             <div class="details">
              <div class="code">
                HT2400E 
              </div>
              <div class="title">
                61cm Hedge Trimmer
              </div>
              <div class="description">
                Single speed 61cm blade length, 22mm blade gap with single knife-edge cutting action
              </div>
              <a href="/products/hedge-trimmers/ht2400e-61cm-hedge-trimmer" rel="bookmark">Find out more</a>
            </div>
            </div>
          </li>

        </ul>

      </div>
    </div>
  </div>
</div>
