{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}

<div class="views-element-container contextual-region block block-views block-views-blocktaxonomy-term-archive-mowers content_block content_block_range_list_2_across_style_1">
  <div class="range_list_2_across_style_1">
            

<div>


<div class="contextual-region view view-taxonomy-term view-id-taxonomy_term view-display-id-archive_mowers js-view-dom-id-30d3b4479fa378f7ebf0c970689dedf8ffc72743098645db098258ee6123694d">
  
    <div data-contextual-id="entity.view.edit_form:view=taxonomy_term:location=block&amp;name=taxonomy_term&amp;display_id=archive_mowers&amp;langcode=en"></div>
      <div class="view-header">
      


<div data-quickedit-entity-id="taxonomy_term/1" class="contextual-region taxonomy-term vocabulary-product-type" about="/taxonomy/term/1" id="taxonomy-term-1" data-quickedit-entity-instance-id="0">
  <div class="range_logo">
    
  </div>
  <h2>EGO POWER<sup>+</sup> SELF-PROPELLED MOWERS</h2>
</div>



    </div>
      
  
              
    
    <ul class="view-content product_list chomp ">
      




<li data-history-node-id="25" data-quickedit-entity-id="node/25" role="article" class="contextual-region node node--type-product node--promoted node--view-mode-teaser" about="/products/mowers/lm2014e-sp-50cm-mower" data-quickedit-entity-instance-id="0">
  <div class="product">
    
    

      <div class="image">
                  <img src="/sites/default/files/2017-04/LM2014E-SP_Primary.png">
              </div>
      <div class="details">
        <div class="title">
          <span class="code">LM2014E-SP</span> 50cm Mower
        </div>
        <div class="description">
          Self-propelled mower with a 50cm cutting capacity and 60L collection bag
        </div>
        <a href="/products/mowers/lm2014e-sp-50cm-mower" rel="bookmark">Find out more</a>
      </div>
            </div>
</li>


<li data-history-node-id="23" data-quickedit-entity-id="node/23" role="article" class="contextual-region node node--type-product node--promoted node--view-mode-teaser" about="/products/lm2102e-sp-52cm-self-propelled-mower" data-quickedit-entity-instance-id="0">
  <div class="product">
    
    

      <div class="image">
                  <img src="/sites/default/files/2017-04/LM2102E-SP_Primary_0.png">
              </div>
      <div class="details">
        <div class="title">
          <span class="code">LM2102E-SP</span> 52cm Self-Propelled Mower
        </div>
        <div class="description">
          Self-propelled mower with a 52cm cutting capacity and 70L collection bag
        </div>
        <a href="/products/lm2102e-sp-52cm-self-propelled-mower" rel="bookmark">Find out more</a>
      </div>
            </div>
</li>



<li data-history-node-id="22" data-quickedit-entity-id="node/22" role="article" class="contextual-region node node--type-product node--promoted node--view-mode-teaser" about="/products/mowers/lm2024e-sp-50cm-self-propelled-mower" data-quickedit-entity-instance-id="0">
  <div class="product">
    
    

      <div class="image">
                  <img src="/sites/default/files/2017-04/LM2024E_Primary.png">
              </div>
      <div class="details">
        <div class="title" >
          <span class="code">LM2024E-SP</span> 50cm Self-Propelled Mower
        </div>
        <div class="description">
          Self-propelled mower with a 50cm cutting capacity and 60L collection bag
        </div>
        <a href="/products/mowers/lm2024e-sp-50cm-self-propelled-mower" rel="bookmark">Find out more</a>
      </div>
              <span class="banner"><span>New for 2017</span></span>
            </div>
</li>



    </ul>
  



          </div>

</div>


      </div>
</div>