 {#
/**
 * @file
 * Theme for overall site footer
  */
#}
        </div><!-- #main -->
        
        <footer>

            <div id="footer_inner">

                {{ page.footer_menus }}           
                
                <div id="footer_contact">
                
                    <form method="get" id="signup_form" action="/sign-up-for-offers/">
                    
                    	<div id="signup_button_wrapper">
                
                        	<input type="submit" value="Sign up" />
                            
                        </div><!-- #signup_button_wrapper -->
                    
                    	<div id="signup_input_wrapper">
                
                        	<input type="text" value="" name="email" id="email" placeholder="Enter email for updates" />
                            
                        </div><!-- #signup_input_wrapper --> 

                    </form>

                </div><!-- #footer_contact -->    
                
                {{ page.footer_social }}

            </div><!-- #footer_inner -->
        
        </footer>

    </div><!-- #site_wrapper -->
    
	{% include '@egopowerplus/layout/mobile-menu.html.twig' %}

</div><!-- #global_wrapper -->
