 {#
/**
 * @file
 * Theme for overall site footer
  */
#}
        </div><!-- #main -->
        
        <footer>

            <div id="footer_inner">

                <div id="footer_menu_wrapper_01" class="footer_menu_wrapper">
                
                	<h3>EGO Power<sup>+</sup> Products</h3>
                
                    <ul id="footer_menu_01" class="footer_menu">
                    
                    	<li><a href="index.php">Home</a></li>
                        
                        <li><a href="page-product-range.php">Product Range</a></li>
                    
                    	<li><a href="page-category-accessories.php">Accessories</a></li>
                    
                        <li><a href="page-category-batteries-chargers.php">Batteries &amp; Chargers</a></li>
                        
                        <li><a href="page-category-blowers.php">Blowers</a></li>
                        
                        <li><a href="page-category-chain-saws.php">Chain Saws</a></li>
                        
                        <li><a href="page-category-hedge-trimmers.php">Hedge Trimmers</a></li>
                        
                        <li><a href="page-category-line-trimmers.php">Line Trimmers</a></li>
                        
                        <li><a href="page-category-mowers.php">Mowers</a></li>




                                        
                    </ul><!-- #footer_menu_01 .footer_menu -->     
                
                </div><!-- #footer_menu_wrapper_01 .footer_menu_wrapper -->
                
                <div id="footer_menu_wrapper_02" class="footer_menu_wrapper">
                
                	<h3>Company</h3>
                
                    <ul id="footer_menu_02" class="footer_menu">
                    
                        <li><a href="#">Arc Lithium 56v</a></li>
                        
                        <li><a href="#">Find a dealer</a></li>
                        
                        <li><a href="#">Buy online</a></li>
                        
                        <li><a href="#">About us</a></li>
                        
                        <li><a href="#">Contact us</a></li>
                        
                        <li><a href="#">Press</a></li>
                        
                        <li><a href="#">Video</a></li>
                        
                        <li><a href="#">Warranties</a></li>
                                        
                        <li><a href="page-all-blocks.php">[all blocks]</a></li>                
                                        
                    </ul><!-- #footer_menu_02 .footer_menu -->     
                
                </div><!-- #footer_menu_wrapper_02 .footer_menu_wrapper -->          
                
                <div id="footer_menu_wrapper_03" class="footer_menu_wrapper">
                
                	<h3>Region</h3>
                
                    <ul id="footer_menu_03" class="footer_menu">
                    
                        <li><a href="#">EGO UK</a></li>
                        
                        <li><a href="#">EGO France</a></li>
                        
                        <li><a href="#">EGO Germany</a></li>
                        
                        <li><a href="#">EGO Austria</a></li>
                        
                        <li><a href="#">EGO Italy</a></li>
                                        
                    </ul><!-- #footer_menu_03 .footer_menu -->     
                
                </div><!-- #footer_menu_wrapper_03 .footer_menu_wrapper -->              
                
                <div id="footer_contact">
                
                    <form method="get" id="signup_form" action="#">
                    
                    	<div id="signup_button_wrapper">
                
                        	<button type="button">Sign up <i class="fa fa-angle-right"></i></button>
                            
                        </div><!-- #signup_button_wrapper -->
                    
                    	<div id="signup_input_wrapper">
                
                        	<input type="text" value="" name="signup" id="signup" placeholder="Enter email for updates" />
                            
                        </div><!-- #signup_input_wrapper -->

                    </form>

                </div><!-- #footer_contact -->    
                
                <ul id="footer_social">
                
                	<li><a href="#">Facebook</a></li>
                    
                    <li><a href="#">Instagram</a></li>
                    
                    <li><a href="#">Youtube</a></li>
                    
                    <li><a href="#">LinkedIn</a></li>
                    
                    <li><a href="#">Twitter</a></li>
                    
                    <div id="footer_logo"><a href="#">EGO</a></div>
                
                </ul><!-- #footer_social -->

            </div><!-- #footer_inner -->
        
        </footer>

    </div><!-- #site_wrapper -->
    
	<!-- php //include('inc_mobile_menu.php'); -->

</div><!-- #global_wrapper -->
