 {#
/**
 * @file
 * Theme for overall site footer
  */
#}
        </div><!-- #main -->
        
        <footer>

            <div id="footer_inner">

                {{ page.footer_menus }}           
                
                <div id="footer_contact">
                
                    <form method="get" id="signup_form" action="#">
                    
                    	<div id="signup_button_wrapper">
                
                        	<button type="button">Sign up <i class="fa fa-angle-right"></i></button>
                            
                        </div><!-- #signup_button_wrapper -->
                    
                    	<div id="signup_input_wrapper">
                
                        	<input type="text" value="" name="signup" id="signup" placeholder="Enter email for updates" />
                            
                        </div><!-- #signup_input_wrapper -->

                    </form>

                </div><!-- #footer_contact -->    
                
                {{ page.footer_social }}

            </div><!-- #footer_inner -->
        
        </footer>

    </div><!-- #site_wrapper -->
    
	<!-- php //include('inc_mobile_menu.php'); -->

</div><!-- #global_wrapper -->
