 {#
/**
 * @file
 * Theme for overall site header
  */
#}
<div id="global_wrapper"><!-- Wraps everything, including the mobile menu -->
    
        <div id="site_wrapper"><!-- Wraps the site, and the mobile menu sits outside -->
        
            <header{% if is_front %} class="no_breadcrumb"{% endif %}>
    
                <div id="header_main_wrapper">

                    <div id="header_main">

                    	{{ page.header_sign_in }}
                        
                        <div id="navigation_wrapper">
                    
                            <div id="header_logo">
                            
                                <a href="/">EGO</a>
                            
                            </div><!-- #header_logo -->

                            <a class="hamburger mobile_menu_trigger"><span></span></a>
                            
                            <a class="search mobile_menu_trigger"></a>

                            {{ page.header_search_location }}
                        
                            {{ page.header }}
                            
                            <div style="clear:both;"></div>
                    
                    	</div><!-- #navigation_wrapper -->
    					
                        <div style="clear:both;"></div>

                    </div>
                    
                </div><!-- #header_main_wrapper -->

                {% if is_front == false %} {{ page.breadcrumbs }} {% endif %}
    
            </header>
            
            <div id="main">