 <div id="global_wrapper"><!-- Wraps everything, including the mobile menu -->
    
        <div id="site_wrapper"><!-- Wraps the site, and the mobile menu sits outside -->
        
            <header>
    
                <div id="header_inner">
                
                	<ul id="sign_in_register">
                    
                    	<li class="sign_in"><a href="#">Sign In</a></li>
                        
                        <li class="register"><a href="#">Register Product</a></li>
                    
                    </ul><!-- #sign_in_register -->
                    
                    <div id="navigation_wrapper">
                
                        <div id="header_logo">
                        
                            <a href="index.php">EGO</a>
                        
                        </div><!-- #header_logo -->
                            
                        <div id="header_search_and_location">
                        
                        	<div id="location_wrapper">
                            
                            	<div id="location_trigger">United Kingdom <i class="fa fa-angle-down"></i></div>
                                
                                <ul id="location_choices">
                                
                                	<li><a href="#">Location #1</a></li>
                                    <li><a href="#">Location #2</a></li>
                                    <li><a href="#">Location #3</a></li>
                                    <li><a href="#">Location #4</a></li>
                                
                                </ul><!-- #location_choices -->
                            
                            </div><!-- .location_wrapper -->
                            
                            <div id="search_form">
                        
                                <form method="get" id="searchform" action="#">
                            
                                    <input type="text" value="" name="s" id="s" placeholder="Search" />
                                    
                                    <button type="button"></button>
                            
                                </form>          
                            
                            </div><!-- #search_form -->

                        </div><!-- #header_search_and_location -->
                    
                        <ul id="header_menu">
                        
                            <li class=""><a href="page-our-story.php">Our Story</a></li>
                            
                            <li class=""><a href="page-product-range.php">Product Range</a></li>
                            
                            <li class=""><a href="page-where-to-buy.php">Where To Buy</a></li>
                            
                            <!-- a class of 'current' can be added to these <li>'s to add the little green bar underneath -->
                                            
                        </ul><!-- #header_menu -->
                        
                        <div style="clear:both;"></div>
                
                	</div><!-- #navigation_wrapper -->
					
                    <div style="clear:both;"></div>
                    
                </div><!-- #header_inner -->
    
            </header>
            
            <div id="main">