 {#
/**
 * @file
 * Theme for overall site header
  */
#}
<div id="global_wrapper"><!-- Wraps everything, including the mobile menu -->
    
        <div id="site_wrapper"><!-- Wraps the site, and the mobile menu sits outside -->
        
            <header>
    
                <div id="header_inner">
                
                	<ul id="sign_in_register">
                    
                    	<li class="sign_in"><a href="#">Sign In</a></li>
                        
                        <li class="register"><a href="#">Register Product</a></li>
                    
                    </ul><!-- #sign_in_register -->
                    
                    <div id="navigation_wrapper">
                
                        <div id="header_logo">
                        
                            <a href="index.php">EGO</a>
                        
                        </div><!-- #header_logo -->

                        {{ page.header_search_location }}
                    
                        {{ page.header }}
                        
                        <div style="clear:both;"></div>
                
                	</div><!-- #navigation_wrapper -->
					
                    <div style="clear:both;"></div>
                    
                </div><!-- #header_inner -->
    
            </header>
            
            <div id="main">