 {#
/**
 * @file
 * Theme for site mobile menu
  */
#}

<div id="mobile_menu_wrapper">

    <div id="mobile_search">

    {{ page.mobile_search }}         

		<a class="close mobile_menu_trigger"></a>

  	</div><!-- mobile_search -->

    {{ page.mobile_mega_menu }}

    {{ page.mobile_regions }}
    
    <ul id="mobile_sign_in_register">
    
        <li class="sign_in"><a href="#">Sign In</a></li>
        
        <li class="register"><a href="#">Register Product</a></li>
    
    </ul><!-- #mobile_sign_in_register -->

</div><!-- #mobile_menu_wrapper -->