{#
/**
 * @file
 * Theme override for header navigation region.
  */
#}

<div id="header_search_and_location">
                        
	<div id="location_wrapper">
    
    	<div id="location_trigger">United Kingdom <i class="fa fa-angle-down"></i></div>
        
        <ul id="location_choices">
        
        	<li><a href="#">Location #1</a></li>
            <li><a href="#">Location #2</a></li>
            <li><a href="#">Location #3</a></li>
            <li><a href="#">Location #4</a></li>
        
        </ul><!-- #location_choices -->
    
    </div><!-- .location_wrapper -->

    {{ content }}

</div><!-- #header_search_and_location -->
