/* Styling overrides for screen size less than 640px */

@import '_variables_and_mixins.scss';

@media only screen and (max-width: 640px) {
	



/* Header */

header {
	border-bottom-width:0px;
	position:fixed;
	width:100%;
	height:81px;
	overflow:hidden;
	z-index:999;
	&.no_breadcrumb {
		border-bottom-width:0px;
		+ div#main {
			padding-top: 83px;
		}
	}
	div#header_main_wrapper {
		div#header_main {
			ul#sign_in_register {
				display:none;
			}
			div#navigation_wrapper {
				margin:0;
				background-image:url(../../images/mobile_header_background.jpg);
				background-size:cover;
				position:relative;
				div#header_logo {
					margin:0 auto;
					padding:13px 0 13px 0;
					float:none;
					width:136px;
					a {
						width:136px;
						height:54px;
					}
				}
				a.hamburger.mobile_menu_trigger {
					display:block;
				}
				a.search.mobile_menu_trigger {
					display:block;
				}
				div#header_search_and_location {
					display:none;
				}
				ul#header_menu {
					display:none;
				}
			}
		}
	}
	div#breadcrumb_bar_wrapper {
		display:none;
	}
}


html.svg {
	header {
		div#header_main_wrapper {
			div#header_main {
				div#navigation_wrapper {
					a.search.mobile_menu_trigger {
						background-image:url(../../images/icon_search.svg);
					}
				}
			}
		}
	}
}




/* Main */

div#main {
	padding-top:83px;
}


/* Footer */

footer {
	div#footer_inner {
		margin:0; /* */
		padding:0; /* */
		div.footer_menu_wrapper {
			display:none; /* */
		}
		div#footer_contact {
			margin:0;
			padding:37px 0 21px 0; /* */
			width:auto; /* */
			float:none; /* */
			form#signup_form {
				margin:0;
				padding:0 20px 0 20px;
				height:60px;
				overflow:hidden;
				div#signup_button_wrapper {
					width:97px; /* */
					margin:0;
					padding:0;
					background-color:$ego-green;
					float:right;
					height:47px; /* */
					-webkit-transform: skewX(-16deg);
					transform: skewX(-16deg);
					-webkit-border-radius: 0 14px 9px 0;
					border-radius: 0 14px 9px 0;
					button {
						-webkit-transform: skewX(16deg);
						transform: skewX(16deg);
						border:none;
						width:97px; /* */
						height:47px; /* */
						cursor:pointer;
						font-size:14px; /* */
						color:$ego-white;
						background:none;
						i.fa.fa-angle-right {
							font-size:27px; /* */
							margin-left:6px;
							vertical-align:middle;
						}
					}
				}
				div#signup_input_wrapper {
					margin:0 99px 0 0; /* */
					padding:0;
					border:1px solid $ego-green;
					-webkit-border-radius:9px 0 0 14px;
					border-radius:9px 0 0 14px;
					height:47px; /* */
					-webkit-transform: skewX(-16deg);
					transform: skewX(-16deg);
					background-color:$ego-darkest-grey;
					input#signup {
						-webkit-transform: skewX(16deg);
						transform: skewX(16deg);
						border:none;
						width:100%;
						height:45px; /* */
						margin:0;
						padding:0 17px 0 17px; /* */
						color:$ego-white;
						font-size:14px; /* */
						background:none;
					}
				}
			}
		}
		ul#footer_social {
			text-align:center;
			margin:0;
			padding:20px 20px 20px 20px;
			li {
				display:none;
			}
			div#footer_logo {
				right:auto;
				bottom:auto;
				margin:0;
				display:inline-block;
				position:relative;
			}
		}
	}
}







/* QUARANTINE --------------------------------------- */	







/* Content Block - One Banner Multiple Tools - inc_block_one_battery_multiple_tools.php */

div#main {
	div.content_block.content_block_one_battery_multiple_tools {
		background-color:#2d2d2d;
		margin:0;
		background-image:url(../../images/1bmt_background.png);
		background-repeat:no-repeat;
		background-position:center;
		border-bottom:6px solid $ego-white;
		div.one_battery_multiple_tools {
			margin:0 auto;
			padding:20px 20px 20px 20px; /* */
			max-width:1366px;
			min-height:400px;
			div.upper_content {
				margin:0;
				padding:24px 0 39px 0;
				div.logo {
					margin:0;
					padding:10px 0 19px 0;
					text-align:center;
					img {
						width:auto;
						height:auto;
						max-width:100%;
					}
				}
				h2 {
					margin:0;
					padding:24px 0 5px 0;
					text-align:center;
					color:$ego-green;
					span {
						color:$ego-white;
					}
				}
				p {
					margin:0;
					padding:5px 0 5px 0;
					text-align:center;
					color:$ego-white;
				}
			}
			div.illustration {
				margin:0;
				padding:0;
				div.main_graphic_panel {
					float:none; /* */
					margin:0 auto; /* */
					padding:0;
					width:100%; /* */
					min-height:1px; /* */
					background:none; /* */
					max-width:300px; /* */
					div.circle_column {
						margin:0;
						padding:0;
						width:100%; /* */
						float:left;
						div.circle {
							margin:0;
							padding:0;
							position:relative;
							img {
								display:block;
								margin:0;
								padding:0;
								width:100%;
								height:auto;
								position:relative;
							}
							div.image {
								background-size:contain;
								background-position:center;
								background-repeat:no-repeat;
								margin:0;
								padding:0;
								position:absolute;
								top:0;
								left:0;
								width:100%;
								height:100%;
							}
							div.label_wrapper {
								margin:0;
								padding:11px 22px;
								background-color:$ego-green;
								position:absolute;
								left:8%; /* */
								top:78%; /* */
								transform:skewX(-16deg);
								-webkit-border-radius:6px;
								border-radius:6px;
								z-index:50;
								white-space: nowrap;
								overflow: hidden;
								div.label {
									@include typography-mixin-title-4;
									line-height:22px;
									transform:skewX(16deg);
									color:$ego-white;
									margin:0;
									padding:0;
									span {
										color:$ego-black;
									}
									sup {
									}
								}
							}
							&.circle_3_2 {
								div.label_wrapper {
									left:8%; /* */
									top:78%; /* */
								}
							}
						}
						&.circle_column_1,
						&.circle_column_3 {
							padding-top:0; /* */
						}
					}
				}
				div.sidebar_panel {
					float:left;
					margin:0;
					padding:0;
					width:100%; /* */
					min-height:1px; /* */
					background:none; /* */
					ul.sidebar_key {
						margin:0 auto; /* */
						padding:0; /* */
						text-align:left; /* */
						max-width:300px; /* */
						li {
							margin:0 -2px; /* */
							padding:0;
							list-style-position:outside;
							list-style-type:none;
							display:inline-block; /* */
							vertical-align:top; /* */
							width:50%; /* */
							div.sidebar_key_item {
								margin:0;
								padding:0;
								position:relative;
								img {
									margin:0;
									padding:0;
									width:auto;
									height:auto;
									max-width:100%;
									display:block;
									position:relative;
								}
								div.overlay {
									margin:0;
									padding:0;
									position:absolute;
									top:0;
									left:0;
									height:100%;
									width:100%;
									background-position:center;
									background-size:contain;
								}
								div.title {
									@include typography-mixin-title-4;
									font-size:20px;
									position:absolute;
									margin:0;
									padding:0;
									bottom:0;
									left:0;
									width:100%;
									text-align:center;
									color:$ego-white;
								}
							}
						}
					}
				}
			}
			div.lower_content {
				margin:0;
				padding:12px 0 21px 0;
				h2 {
					margin:0;
					padding:24px 0 2px 0;
					text-align:center;
					color:$ego-green;
					span {
						color:$ego-white;
					}
				}
				h3 {
					@include typography-mixin-block-header-small;
					margin:0;
					padding:0 0 16px 0;
					text-align:center;
					color:$ego-white;
					text-transform:none;
				}
				p {
					margin:0;
					padding:16px 0 5px 0;
					text-align:center;
					color:$ego-white;
					a {
						color:$ego-green;
						text-decoration:none;
						i {
							margin-left:10px;
						}
					}
				}
			}
		}
	}
}






	
	
	
/* */	
	

	
	






	
}