/* Styling overrides for screen size less than 1024px and greater than 640px */

/*
	Index of contents
	============================================
	1. Sass variables, mixins etc
	2. Development aids
	3. Fonts
	4. Basic structural things
	5. Mobile Menu
	6. Header
	7. Footer
	8. WYSIWYG elements within div#main
	9. Content Blocks
	10. Search results
	11. Extra fixes for small medium items
	
	============================================


	Notes
	--------------------------------------------
	
	Font names:
	
	font-family: 'heroic_condensedmedium', sans-serif;
	font-family: 'heroic_condensedbold', sans-serif;
	font-family: 'heroic_condensedblack', sans-serif;
	
	Arial is the main body font
	
*/


/* ================================== */
/* 1. Sass variables, mixins etc      */
/* ================================== */

@import '_variables_and_mixins_medium.scss';


@media only screen and (max-width: 1023px) and (min-width: 641px) {

/* ================================== */
/* 2. Development aids                */
/* ================================== */



/* ========================== */
/* 3. Fonts                   */
/* ========================== */



/* ========================== */
/* 4. Basic structural things */
/* ========================== */


/* Main */

div#main {
	padding-top:177px;
}

header.no_breadcrumb + div#main {
	padding-top:108px;
}



/* ========================== */
/* 5. Mobile menu             */
/* ========================== */



/* ========================== */
/* 6. Header                  */
/* ========================== */

/* Header */

header {
	border-bottom-width:6px;
	div#header_main_wrapper {
		div#header_main {
			ul#sign_in_register {
				padding:13px 10px 12px 0;
				width:160px;
				li {
					padding:3px 0 3px 0;
					a {
						font-size:13px;
						span.large_only {
							display:none;
						}
					}
				}
			}
			div#navigation_wrapper {
				margin:0 160px 0 0;
				div#header_search_and_location {
					padding:0 30px 0 26px;
					float:none;
					width:auto;
					margin:0 0 0 208px;
					height:51px;
					div#location_wrapper {
						padding:13px 0 1px 0;
						width:45%;
						float:left;
						div#location_trigger {
							margin:0;
							font-size:14px;
						}
						ul#location_choices {
							left:-10px;
						}
					}
					div#search_form {
						padding:13px 0 0 0;
						width:55%;
						float:right;
						form#search-block-form {
							div.form-type-search {
								width:calc(100% - 40px);
							}
						}
					}
				}
				ul#header_menu {
					margin:0 0 0 208px;
					padding:2px 0 0 13px;
					text-align:left;
					li {
						margin:0 4px;
						a {
							padding:1px 12px 18px;
						}
					}
				}
			}
		}
	}
	div#breadcrumb_bar_wrapper {
		div#breadcrumb_bar {
			padding: 0 14px 2px 14px;
			div.breadcrumb {
				@include typography-mixin-small;
				margin:0;
				padding:6px 0 4px 0;
				float:none;
				width:auto;
				font-size:14px;
				line-height:26px;
			}
			div.anchors {
				@include typography-mixin-small;
				margin:0;
				padding:4px 0 6px 0;
				float:none;
				width:auto;
				text-align:right;
				font-size:12px;
				line-height:20px;
				a {
					&.buy_online {
						padding:7px 15px 8px 15px;
						i {
							margin-left:17px;
						}
					}
				}
			}
		}
	}
}


/* ========================== */
/* 7. Footer                  */
/* ========================== */

/* Footer */

footer {
	div#footer_inner {
		padding: 28px 0 58px 0;
		div.footer_menu_wrapper {
			&#footer_menu_wrapper_01 {
				width:43.6%;
				padding-left:86px;
 			}
			&#footer_menu_wrapper_02 {
				width:28.4%;
			}
			&#footer_menu_wrapper_03 {
				width:28%;
			}
			h3 {
				padding:6px 0 14px 0;
				font-size:22px;
				line-height:32px;
			}
			ul.footer_menu {
				li {
					padding:0;
				}
			}
		}
		div#footer_contact {
			margin:0 auto;
			padding:47px 0 16px 0;
			width:auto;
			float:none;
			clear:left;
			max-width:560px;
			div#footer_logo {
				margin:75px 0 0 0;
				text-align:center;
			}
		}
		ul#footer_social {
			text-align:center;
			margin:0;
			padding:20px 20px 175px 20px;
			div#footer_logo {
				right:50%;
				margin:0 -137px 0 0;
			}
		}
	}
}


/* ==================================== */
/* 8. WYSIWYG elements within div#main  */
/* ==================================== */

div#main {
	a {
	}
	h1 {
		@include typography-mixin-title-1;
		padding:16px 0 0 0;
	}
	h2 {
		@include typography-mixin-title-2;
		padding:16px 0 0 0;
	}
	h3 {
		@include typography-mixin-title-3;
		padding:16px 0 0 0;
	}
	h4, h5,	h6 {
		@include typography-mixin-title-4;
		padding:16px 0 0 0;
	}
	p {
		@include typography-mixin-regular;
		padding:12px 0 12px 0;
		img {
			&.alignright {
				margin:0 0 16px 16px;
				padding:0;
			}
			&.alignleft {
				margin:0 16px 16px 0;
				padding:0;
			}
			&.aligncenter {
			}
		}
	}
	ul {
		padding:16px 0 16px 24px;
		li {
			@include typography-mixin-regular;
			padding:6px 0 6px 0;
		}
	}
	ol {
		padding:16px 0 16px 24px;
		li {
			@include typography-mixin-regular;
			padding:6px 0 6px 0;
		}
	}
}


/* ========================== */
/* 9. Content blocks          */
/* ========================== */

/* Content Block - Action Links - inc_block_action_links.php */

/* Content Block - Batteries Table - inc_block_batteries_table.php */

div#main {
	div.content_block.content_block_batteries_table {
		div.batteries_table {
			padding:20px 20px 40px 20px;
			table.batteries {
				tbody {
					tr {
						td {
							padding:8px 5px;
							&.label {
								padding:8px 5px;
							}
						}
						&.title {
							td {
								padding:8px 5px;
							}
						}
						&.battery {
							td {
								font-size:14px;
							}
						}
					}
				}
			}
		}
	}
}


/* Content Block - Blog Article - inc_block_blog_article.php */

div#main {
	div.content_block.content_block_blog_article {
		div.blog_article {
			padding:0 20px;
			div.article_panel {
				padding:0 40px 0 60px;
				width:70%;
				article {
					padding:5px 0 20px 0;
					h1 {
						@include typography-mixin-block-header;
						padding:25px 0 25px 0;
					}
					h2 {
						@include typography-mixin-regular;
						font-size:22px;
						line-height:26px;
						font-weight:bold;
						text-transform:none;
						padding:22px 0 3px 0;
						letter-spacing:normal;
					}
					div.subtitle {
						@include typography-mixin-large;
						font-weight:bold;
					}
					ul.article_links {
						li {
							a {
								@include typography-mixin-regular;
							}
						}
					}
				}
				div.gallery {
					h2 {
						@include typography-mixin-title-3;
					}
				}
				ul.social_icons {
					width:30px;
					top:26px;
					li {
						font-size:27px;
						line-height:27px;
					}
				}
			}
			div.sidebar_panel {
				padding:17px 0 0 0;
				width:30%;
				a.link_panel {
					padding:15px 15px 286px 15px;
					div.title {
						@include typography-mixin-category-title;
					}
					div.subtitle {
						@include typography-mixin-category-blurb;
					}
					span.link_button {
						@include typography-mixin-small;
						bottom:15px;
						left:15px;
						i {
							margin-left:12px;
						}
					}
				}
				div.other_articles {
					div.article_link {
						div.text {
							padding:15px 15px 15px 15px;
							div.title {
								@include typography-mixin-block-header-small;
								padding:3px 0 20px 0;
							}
							ul.date_and_categories {
								li {
									@include typography-mixin-small;
								}
							}
						}
					}
				}
			}
		}
	}
}


/* Content Block - Blog Index Featured Items - inc_block_blog_index_featured_items.php */

div#main {
	div.content_block.content_block_blog_index_featured_items {
		ul.blog_index_featured_items {
			padding:0 10px;
			li {
				width:60%;
				&.single-width {
					width:40%;
				}
				&.double-width {
					width:60%;
				}
				a.featured_item {
					padding:15px 15px 62px 15px;
					min-height:10px;
					div.title {
						@include typography-mixin-category-title;
						width:56%;
					}
					div.excerpt {
						@include typography-mixin-regular;
						width:56%;
					}
					ul.article_links {		
						bottom:20px;
						left:15px;
						li {
							@include typography-mixin-small;
						}
					}
					&.video {
						span.play_button {
							width:100px;
							height:100px;
							margin:-50px 0 0 -50px;
						}
					}
				}
			}
		}
	}
}


/* Content Block - Blog Index Links - inc_block_blog_index_links.php */

div#main {
	div.content_block.content_block_blog_index_links {
		padding:0 10px 30px 10px;
		ul.blog_index_links {
			li {
				width:50%;
				a.link_panel {
					div.title {
						@include typography-mixin-block-header-small;
						padding:15px 15px 15px 15px;
					}
					ul.article_links {		
						padding:0 15px 15px 15px;
						li {
							@include typography-mixin-small;
						}
					}
				}
				&:nth-child(3n+1) {
					clear: none;
				}
				&:nth-child(2n+1) {
					clear: left;
				}
			}
		}
		a.load_more {
			@include typography-mixin-small;
		}
	}
}


/* Content Block - Blowers Table - inc_block_blowers_table.php */

/* Content Block - Contact - inc_block_contact.php */

div#main {
	div.content_block.content_block_contact {
		div.contact {
			padding:38px 20px 0 20px;
			div.contact_main {
				padding:25px 20px 25px 0;
				width:60%;
				div.write_to_us {
					width:100%;
					h3 {
						@include typography-mixin-mobile-title-1;
					}
					a {
						@include typography-mixin-regular;
					}
				}
				div.social {
					width:100%;
					h3 {
						@include typography-mixin-mobile-title-1;
					}
					ul.social {
						li {
							@include typography-mixin-regular;
						}
					}
				}
			}
			div.contact_sidebar {
				width:40%;
				a.link_panel {
					div.title {
						@include typography-mixin-category-title;
					}
					div.subtitle {
						@include typography-mixin-category-blurb;
					}
					span.link_button {
						@include typography-mixin-small;
					}
				}
			}
		}
	}
}




/* Content Block - Single Product Documents and Downloads - inc_block_single_product_documents_and_downloads.php */

div#main {
	div.content_block.content_block_single_product_documents_and_downloads {
		div.documents_and_downloads {
			padding:20px 20px 41px 20px;
			div.title {
				font-size:54px;
				line-height:48px;
			}
			ul.links {
				padding:10px 0 10px 0;
				li {
					a.link {
						div.document_name {
							@include typography-mixin-category-blurb;
							padding:20px 0 0 0;
						}
					}
				}
			}
		}
	}
}


/* Content Block - Feature Link Type 1 - inc_block_feature_link_type_1.php */

div#main {
	div.content_block.content_block_feature_link_type_1 {
		div.feature_link_type_1 {
			div.details {
				padding:40px 0 40px 10px;
				width:60%;
				h2 {
					@include typography-mixin-block-header;
					max-width: none;
				}
				p {
					@include typography-mixin-regular;
					max-width: none;
					padding:0 0 16px 0;
				}
				a {
					@include typography-mixin-regular;
				}
			}
			div.image {
				width:40%;
				text-align:center;
			}
		}
	}
}


/* Content Block - Feature Link Type 2 - inc_block_feature_link_type_2.php */

div#main {
	div.content_block.content_block_feature_link_type_2 {
		padding:64px 0 0 0;
		div.feature_link_type_2 {
			padding:60px 20px 60px 56%;
			min-height:100px;
			h2 {
				@include typography-mixin-block-header;
			}
			p {
				@include typography-mixin-regular;
				padding:0 0 16px 0;
			}
			a {
				@include typography-mixin-regular;
			}
		}
		div.image_overlay_wrapper {
			left:-34%;
			div.image_overlay {
				margin:0 -90px 0 0;
			}
		}
	}
}


/* Content Block - Feature Panels - inc_block_feature_panels.php */

div#main {
	div.content_block.content_block_feature_panels {
		ul.feature_panels {
			max-width:740px;
			li {
				width:100%;
			}
		}
	}
}


/* Content Block - Hero - inc_block_hero.php */

div#main {
	div.content_block.content_block_hero {
		div.hero {
			height:550px;
			div.caption {
				@include typography-mixin-title-1;
				line-height:83px;
			}
		}
	}
}


/* Content Block - Home 'Uniqueness' Banner - inc_block_home_uniqueness_banner.php */

div#main {
	div.content_block.content_block_home_uniqueness_banner {
		div.home_uniqueness_banner {
			padding:0 20px;
			div.graphic {
				max-width:480px;
			}
			div.caption {
				@include typography-mixin-block-header-small;
				padding:10px 0 30px 0;
			}
		}
	}
}

/* Content Block - Simple WYSIWYG Block */

div#main {
	div.content_block.content_block_simple_wysiwyg_block {
		.content_wrapper {
			ul.buttons {
				text-align: center;
				li {
					width: 100%;
				}
				&:last-child {
					padding-bottom:50px;
				}
			}
		}
	}
}

/* Content Block - Intro Text - inc_block_intro_text.php */

div#main {
	div.content_block.content_block_intro_text {
		span.pill_caption {
			@include typography-mixin-intro-text-pill-caption;
			padding:10px 30px 10px 30px;
		}
		div.intro_text {
			padding:24px 20px 0 20px;
			div.intro_title {
				@include typography-mixin-block-header-small-medium-cut;
				margin:0 0 17px 0;
				padding:10px 0 42px 0;
			}
			ul.buttons {
				text-align: center;
				li {
					width: 100%;
				}
			}
		}
	}
}


/* Content Block - Labelled Product Image - inc_block_labelled_product_image.php */

div#main {
	div.content_block.content_block_labelled_product_image {
		div.labelled_product_image {
			padding:0 20px 30px 20px;
			&.lr-swap {
				ul.title {
					margin:0;
				}
				div.labels_key {
					padding-right:0;
				}
			}
			ul.title {
				margin:0;
				li {
					@include typography-mixin-block-header-small-medium-cut;
				}
			}
			div.product_image {
				width:100%;
			}
			div.labels_key {
				width:100%;
				padding:0;
				div.labels_toggle {
					@include typography-mixin-small;
				}
				ol.key_items {
					li {
						span.label {
							@include typography-mixin-title-4;
						}
						p {
							@include typography-mixin-small;
						}
					}
				}
				div.further_info {
					div.title {
						@include typography-mixin-title-3;
					}
					p {
						@include typography-mixin-small;
					}
					a {
						@include typography-mixin-small;
					}
				}
			}
			div.footnote_panel {
				div.title {
					@include typography-mixin-block-header-small-medium-cut;
				}
			}
		}
	}
}


/* Content Block - Manuals and Safety Sheets - inc_block_manuals.php */

div#main {
	div.content_block.content_block_manuals {
		div.manuals {
			padding:0 20px;
			div.intro {
				h1 {
					@include typography-mixin-title-1;
					line-height:82px;
					padding:30px 0 56px 0;
					&:after {
						width:90px;
						height:17px;
						margin:0 0 0 -45px;
					}
				}
				p {
					@include typography-mixin-regular;
					padding:36px 0 41px 0;
				}
			}
			div.manuals_concertina {
				div.section {
					div.section_bar.conc-trigger {
						div.text {
							padding:20px 0 20px 0;
							div.title {
								@include typography-mixin-category-title;
							}
							div.subtitle {
								@include typography-mixin-category-blurb;
							}
						}
						div.open_close {
							@include typography-mixin-regular;
							padding:36px 15px 20px 15px;
						}
					}
					div.conc-content {
						div.manuals_table {
							table {
								tbody {
									tr {
										th {
											@include typography-mixin-regular;
											padding:10px 10px;
										}
										td {
											@include typography-mixin-small;
											padding:10px 10px;
											&:first-child {
												min-width: auto;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Content Block - Press Releases - inc_block_manuals.php */

div#main {
	div.content_block.content_block_press_releases {
		div.press_releases {
			padding:0 20px;
			div.intro {
				h1 {
					@include typography-mixin-title-1;
					line-height:82px;
					padding:30px 0 56px 0;
					&:after {
						width:90px;
						height:17px;
						margin:0 0 0 -45px;
					}
				}
				p {
					@include typography-mixin-regular;
					padding:36px 0 41px 0;
				}
			}
			div.press_releases_concertina {
				div.section {
					div.section_bar {
						div.text {
							padding:20px 0 20px 0;
							div.title {
								@include typography-mixin-category-title;
							}
							div.subtitle {
								@include typography-mixin-category-blurb;
							}
						}
						div.open_close {
							@include typography-mixin-regular;
							padding:36px 15px 20px 15px;
						}
					}
					div.content {
						div.press_releases_table {
							table {
								tbody {
									tr {
										th {
											@include typography-mixin-regular;
											padding:10px 10px;
										}
										td {
											@include typography-mixin-small;
											padding:10px 10px;
											&:first-child {
												min-width: auto;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}


/* Content Block - Multi Tool Illustration - inc_block_multi_tool_illustration.php */

/* Content Block - Multi Tool Intro - inc_block_multi_tool_intro.php */

div#main {
	div.content_block.content_block_multi_tool_intro {
		span.pill_caption {
			@include typography-mixin-intro-text-pill-caption;
			padding:10px 30px 10px 30px;
		}
		div.intro_text {
			div.intro_title {
				@include typography-mixin-title-1;
				line-height:82px;
				margin:0 0 27px 0;
				padding:0 0 50px 0;
				&:after {
					width:90px;
					height:17px;
					margin:0 0 0 -45px;
				}
			}
			span.banner {
				@include typography-mixin-product-banner;
				margin:20px 0 0 0;
			}
		}
	}
}


/* Content Block - One Banner Multiple Tools - inc_block_one_battery_multiple_tools.php */

div#main {
	div.content_block.content_block_one_battery_multiple_tools {
		div.one_battery_multiple_tools {
			padding:20px 20px;
			div.upper_content {
				padding:5px 0 22px 0;
				h2 {
					padding:5px 0;
					line-height:75px;
				}
			}
			div.illustration {
				div.main_graphic_panel {
					div.circle_column {
						div.circle {
							div.label_wrapper {
								padding:3px 10px;
								left:6%;
								top:78%;
								div.label {
									font-size:18px;
									line-height:18px;
								}
							}
							&.circle_3_2 {
								div.label_wrapper {
									left:58%;
									top:56%;
								}
							}
						}
					}
				}
				div.sidebar_panel {
					ul.sidebar_key {
						li {
							div.sidebar_key_item {
								div.title {
									font-size:17px;
									line-height:19px;
								}
							}
						}
					}
				}
			}
			div.lower_content {
				h2 {
					line-height:75px;
				}
			}
		}
	}
}


/* Content Block - Our Story Content - inc_block_our_story_content.php */

div#main {
	div.content_block.content_block_our_story_content {
		div.our_story_content {
			div.title {
				@include typography-mixin-title-1;
				line-height:82px;
			}
			h3 {
				@include typography-mixin-block-header-small-medium-cut;
			}
		}
	}
}


/* Content Block - Our Story Cost Illustration - inc_block_our_story_cost_illustration.php */

div#main {
	div.content_block.content_block_our_story_cost_illustration {
		div.our_story_cost_illustration {
			div.unit_costs {
				div.cost_per_unit {
					@include typography-mixin-category-title;
				}
				div.price {
					div.value {
						span {
							@include typography-mixin-category-title;
						}
					}
					div.label {
						@include typography-mixin-title-4;
					}
				}
			}
			div.price_calc_labels {
				div.label {
					@include typography-mixin-title-4;
				}
			}
			div.cost_per {
				div.label {
					@include typography-mixin-title-3;
				}
				div.value {
					@include typography-mixin-title-3;
				}
				&.year {
					div.value {
						span.box {
							span {
								@include typography-mixin-category-title;
								font-size:33px;
							}
						}
					}
				}
			}
			p.footnote {
				@include typography-mixin-small;
			}
		}
	}
}


/* Content Block - Our Story Feature Panels - inc_block_our_story_feature_panels.php */

div#main {
	div.content_block.content_block_our_story_feature_panels {
		ul.feature_panels {
			padding:20px 10px 0 10px;
			li {
				width:50%;
				div.feature_panel {
					div.text {
						h2 {
							@include typography-mixin-block-header-small-medium-cut;
						}
					}
				}
			}
		}
	}
}


/* Content Block - Our Story Intro - inc_block_our_story_intro.php */

/* Content Block - Our Story The Power Illustration - inc_block_our_story_the_power_illustration.php */

div#main {
	div.content_block.content_block_our_story_the_power_illustration {
		div.the_power_illustration_wrapper {
			padding:50px 10px 40px 10px;
			div.the_power_illustration {
				background-image: none;
				div.centre_panel {
					div.centre_circle_wrapper {
						div.centre_circle {
							div.caption {
								font-size: 46px;
								line-height: 44px;
							}
						}
					}
				}
				div.info_panel {
					img.dimensional_assurance {
						display:none;
					}
					div.content {
						position:relative;
						padding:0 0 30px 0;
						top:auto;
						left:auto;
						div.icon {
							width:60%;
						}
						div.title {
							@include typography-mixin-title-3;
							line-height:29px;
							padding:18px 10px 8px 10px;
						}
						p {
							padding:0 10px;
							font-size:14px;
							line-height:22px;
						}
					}
				}
			}
		}
	}
}


/* Content Block - Our Story Video - inc_block_our_story_video.php */

div#main {
	div.content_block.content_block_our_story_video {
		div.our_story_video {
			padding:10px 20px 30px 20px;
			div.video_panel {
				span.play_button {
					width:100px;
					height:100px;
					margin:-50px 0 0 -50px;
				}
			}
		}
	}
}


/* Content Block - Product Category Links - inc_block_product_category_links.php */

div#main {
	div.content_block.content_block_product_category_links {
		ul.product_category_links {
			li {
				width:100%;
				&.width-single {
					width:100%;
				}
				&.width-double {
					width:100%;
				}
				a.link {
					height:408px;
					div.content_wrapper {
						padding:25px 25px;
						div.text_wrapper {
							div.cta {
								@include typography-mixin-regular;
								padding:22px 0 0 0;
								&.extra-padding {
									padding-top:100px;
								}
							}
						}
						&.product-image-align-bottom-left {
							background-position: right bottom;
						}
						&.product-image-align-top-left {
							background-position: right bottom;
						}
					}
				}
			}
		}
	}
}


/* Content Block - Product Category Link Bar - inc_block_product_category_link_bar.php */

div#main {
	div.content_block.content_block_product_category_link_bar {
		padding:10px 20px;
		div.product_category_link_bar {
			div.image {
				min-height:200px;
				width:200px;
			}
			div.text {
				margin:0 0 0 200px;
				padding:28px 20px 10px 20px;
				min-height:1px;
				width:auto;
				float:none;
				height:auto !important;
				div.title {
					@include typography-mixin-category-title;
				}
				div.subtitle {
					@include typography-mixin-category-blurb;
				}
			}
			div.link {
				margin:0 0 0 200px;
				padding:10px 20px 28px 20px;
				min-height:1px;
				width:auto;
				float:none;
				height:auto !important;
				> a {
					@include typography-mixin-small;
				}
			}
		}
	}
}


/* Content Block - Range List 1 Across - inc_block_range_list_1_across.php */

div#main {
	div.content_block.content_block_range_list_1_across {
		div.range_list_1_across {
			ul.product_list {
				&.swapped {
					li {
						&:nth-child(odd) {
							div.product {
								div.details {
									padding:36px 0 36px 34px;
								}
							}
						}
					}
				}
				li {
					&:nth-child(even) {
						div.product {
							div.details {
								padding:36px 0 36px 34px;
							}
						}
					}
					div.product {
						padding:30px 0 30px 0;
					}
				}
			}
		}
	}
}


/* Content Block - Range List 2 Across Style 1 - inc_block_range_list_2_across_style_1.php */

div#main {
	div.content_block.content_block_range_list_2_across_style_1 {
		div.range_list_2_across_style_1 {
			ul.product_list {
				li {
					div.product {
						padding:20px 20px;
					}
				}
			}
		}
	}
}


/* Content Block - Range List 2 Across Style 2 - inc_block_range_list_2_across_style_2.php */

div#main {
	div.content_block.content_block_range_list_2_across_style_2 {
		div.range_list_2_across_style_2 {
			ul.product_list {
				li {
					div.product {
						padding:0 0 30px 0;
						div.image {
							padding:20px;
							width:100%;
						}
						div.details {
							padding:0 20px;
							width:100%;
							div.title {
								padding:0 0 21px 0;
							}
						}
					}
				}
			}
		}
	}
}


/* Content Block - Range List 3 Across - inc_block_range_list_3_across.php */

div#main {
	div.content_block.content_block_range_list_3_across {
		div.range_list_3_across {
			ul.product_list {
				padding:30px 0 30px 0;
				li {
					width:50%;
					&:nth-child(3n+1) {
						div.product {
							border-right:none;
						}
					}
					&:nth-child(3n+2) {
						div.product {
							border-right:none;
						}
					}
					&:nth-child(2n+1) {
						div.product {
							border-right:1px solid #a6a6a6;
						}
					}
					div.product {
						padding:20px 20px;
					}
				}
			}
		}
	}
}


/* Content Block - Review Slider - inc_block_review_slider.php */

div#main {
	div.content_block.content_block_review_slider {
		padding:50px 20px 50px 20px;
		div.review_slider {
			ul.slides {
				li {
					div.review {
						padding:0 70px 0 70px;
					}
				}
			}
		}
	}
}


/* Content Block - Single Image - inc_block_single_image.php */

/* Content Block - Single Product Details - inc_block_single_product_details.php */

div#main {
	div.content_block.content_block_single_product_details {
		div.single_product_details {
			padding:0 10px;
			div.images_panel {
				width:50%;	
			}
			div.info_panel {
				padding:30px 10px 30px 10px;
				width:50%;
				div.code {
					@include typography-mixin-category-title;
				}
				div.product_name {
					@include typography-mixin-category-title;
					margin:0;
				}
				ul.badges {
					li {
						@include typography-mixin-product-banner;
					}
				}
				div.price {
					width:100%;
				}
				div.reviews {
					padding:29px 0 0 0;
					width:100%;
				}
				ul.links {
					li {
						width:100%;
						a {
							@include typography-mixin-small;
						}
					}
				}
			}
			.promo-roundel {
            	height: 66px;
            	top: 42px;
            	width: 66px;
            }
            .promo-roundel-two {
            	height: 66px;
            	top: 120px;
            	width: 66px;
            }
		}
	}
}


/* Content Block - Single Product Features - inc_block_single_product_features.php */

div#main {
	div.content_block.content_block_single_product_features {
		div.single_product_features {
			ul.features {
				li {
					div.feature {
						div.icon {
							max-width:75px;
						}
						div.label {
							@include typography-mixin-title-4;
							line-height:24px;
						}
					}
				}
			}
		}
	}
}


/* Content Block - Single Product Parts & Accessories - inc_block_single_product_parts_accessories.php */

div#main {
	div.content_block.content_block_single_product_parts_accessories {
		div.single_product_parts_accessories {
			div.parts_accessories_carousel {
				div.flex-viewport {
					margin:0 40px;
				}
				ul.flex-direction-nav {
					top:90px;
					li {
						&:first-child {
							left:0;
						}
						&:last-child {
							right:0;
						}
					}
				}
				ul.slides {
					li {
						div.item {
							div.title {
								@include typography-mixin-category-blurb;
							}
							div.price {
								@include typography-mixin-regular;
							}
						}
					}
				}
			}
		}
	}
}


/* Content Block - Single Product Questions - inc_block_single_product_questions.php */

/* Content Block - Single Product Related Products - inc_block_single_product_related_products.php */

div#main {
	div.content_block.content_block_single_product_related_products {
		div.single_product_related_products {
			div.related_products_carousel {
				div.flex-viewport {
					margin:0 40px;
				}
				ul.flex-direction-nav {
					top:90px;
					li {
						&:first-child {
							left:0;
						}
						&:last-child {
							right:0;
						}
					}
				}
				ul.slides {
					li {
						div.item {
							div.title {
								@include typography-mixin-category-blurb;
							}
							div.price {
								@include typography-mixin-regular;
							}
						}
					}
				}
			}
		}
	}
}


/* Content Block - Single Product Reviews - inc_block_single_product_reviews.php */

div#main {
	div.content_block.content_block_single_product_reviews {
		div.single_product_reviews {
			ul.reviews {
				li {
					div.review {
						div.title {
							@include typography-mixin-block-header-small;
						}
						div.text {
							@include typography-mixin-regular;
						}
						div.reviewer {
							@include typography-mixin-regular;
						}
					}
				}
			}
			div.review_link {
				a {
					@include typography-mixin-regular;
				}
			}
		}
	}
}


/* Content Block - Single Product Specifications - inc_block_single_product_specifications.php */

div#main {
	div.content_block.content_block_single_product_specifications {
		&.four-across {
			div.single_product_specifications {
				ul.specifications {
					li {
						width:33.3333%;
						&:nth-child(4n+1),
						&:nth-child(5n+1) {
							clear:none;
							div.specification {
								border-left:1px solid $ego-black;
							}
						}
						&:nth-child(3n+1) {
							clear:left;
							div.specification {
								border-left:none;
							}
						}
						
					}
				}
			}
		}
		div.single_product_specifications {
			ul.specifications {
				li {
					width:33.3333%;
					&:nth-child(5n+1) {
						clear:none;
						div.specification {
							border-left:1px solid $ego-black;
						}
					}
					&:nth-child(3n+1) {
						clear:left;
						div.specification {
							border-left:none;
						}
					}
					&:nth-child(4),
					&:nth-child(5) {
						div.specification {
							border-top:1px solid $ego-black;
						}
					}
					div.specification {
						div.label {
							@include typography-mixin-title-3;
						}
						div.value {
							@include typography-mixin-regular;
						}
					}
				}
			}
			p.footnote {
				@include typography-mixin-small;
			}
		}
	}
}


/* Content Block - Standard Table - inc_block_standard_table.php */

div#main {
	div.content_block.content_block_standard_table {
		div.standard_table {
			table.standard {
				tbody {
					tr {
						th, td {
							padding:8px 10px;
							&[scope="col"] {
								font-size:16px;
								padding:8px 10px;
							}
						}
					}
				}
			}
			div.footnote {
				@include typography-mixin-small;
			}
		}
	}
}


/* Content Block - Video - inc_block_video.php */

div#main {
	div.content_block.content_block_video {
		padding:40px 20px 20px 20px;
		div.video {
			span.play_button {
				width:100px;
				height:100px;
				margin:-50px 0 0 -50px;
			}
		}
	}
}


/* Content Block - Warranty Panel - inc_block_warranty_panel.php */


/* Content Block - Where To Buy - Intro - inc_block_where_to_buy_info.php */

div#main {
	div.content_block.content_block_where_to_buy_info {
		div.where_to_buy_info {
			padding:0 10px 30px 10px;
			div.find_a_dealer {
				width:100%;
			}
			div.buy_online {
				width:100%;
			}
		}
	}
}


/* Content Block - Where To Buy - Intro - inc_block_where_to_buy_intro.php */

div#main {
	div.content_block.content_block_where_to_buy_intro {
		div.intro {
			padding:0 20px;
			h1 {
				@include typography-mixin-title-1;
				line-height:86px;
				padding:30px 0 60px 0;
			}
			p {
				@include typography-mixin-regular;
				padding:37px 0 37px 0;
			}
		}
	}
}


/* =============================== */
/* 10. Search results              */
/* =============================== */

/* Search results page */

.path-search {
	div.region.region-content {
		div.messages.messages--warning {
			@include typography-mixin-regular;
			margin:20px auto -27px auto;
			padding:28px 20px;
			border-left:20px solid #fff;
			border-right:20px solid #fff;
			&:before {
				font-size:24px;
				margin-right:13px;
			}
		}
		div#block-egopowerplus-content.block.block-system.block-system-main-block {
			padding:30px 20px 30px 20px;
			form.search-form {
				padding:30px 20px 30px 20px;
				div.form-wrapper {
					div.form-item {
						label {
							@include typography-mixin-regular;
						}
						input.form-search {
							@include typography-mixin-large;
						}
					}
					input.form-submit {
						@include typography-mixin-large;
						margin-top:39px;
					}
				}
				a.search-help-link {
					@include typography-mixin-regular;
				}
			}
			h2 {
				@include typography-mixin-title-1;
			}
			div.item-list {
				padding:0 20px 0 20px;
				> h3 {
					@include typography-mixin-category-title;
					padding:50px 0 20px 0;
				}
				ul {
					margin:0 -20px 0 -20px;
					padding:50px 20px 50px 20px;
				}
				ol.search-results {
					li {
						h3.search-result__title {
							@include typography-mixin-category-title;
						}
					}
				}
			}
			nav.pager {
				ul.pager__items {
					padding:30px 20px;
					li.pager__item {
						a {
							@include typography-mixin-regular;
						}
					}
				}
			}
		}
	}
}
	
	





/* -------------------------------------------------- */	

} /* End: @media only screen and (max-width: 1023px) and (min-width: 641px) { */




/* ========================================== */
/* 11. Extra fixes for small medium items     */
/* ========================================== */

@media only screen and (max-width: 760px) and (min-width: 641px) {
	header {
		div#header_main_wrapper {
			div#header_main {
				ul#sign_in_register {
					padding: 18px 17px 10px 0;
					width: 134px;
					li {
						padding:3px 0;
						a {
							font-size:11px;
							line-height:16px;
							i.fa {
								font-size:13px;
								margin-left:1px;
								&.fa-plus-circle {
									font-size: 17px;
								}
							}
						}
					}
				}
				div#navigation_wrapper {
					margin:0 134px 0 0;
					div#header_logo {
						float: left;
						margin: 0;
						padding: 24px 0 13px 4px;
						width: 144px;
						a {
							height:56px;
							width:140px;
						}
					}
					div#header_search_and_location {
						margin:0 0 0 144px;
						padding:0 20px 0 10px;
						div#location_wrapper {
						}
					}
					ul#header_menu {
						margin:0 0 0 144px;
						padding:0;
						li {
							margin:0;
							a {
								padding: 1px 9px 12px 9px;
							}
						}
					}
				}
			}
		}
		&.no_breadcrumb + div#main {
			padding-top:100px;
		}
	}
	div#main {
		padding-top:169px;
	}
}
