<div class="content_block content_block_single_product_features">

	<div class="single_product_features">

  		<div class="title">Product features</div>
        
        <ul class="features">

            <li>
            
            	<div class="feature">
                
                	<div class="icon" style="background-image:url({{base_path ~ directory}}/images/blocks/single_product_features/BRUSHLESSMOTOR.png);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                    
                    <div class="icon svg" style="background-image:url({{base_path ~ directory}}images/blocks/single_product_features/BRUSHLESSMOTOR.svg);"><img src="images/blocks/single_product_features/dimensional_assurance_100_100.png"></div>
                	
                    <div class="label">Brushless motor</div>
                
                </div><!-- .feature -->
            
            </li>
        
        </ul><!-- .features -->
    
    </div><!-- .single_product_features -->

</div>
